<h1> <%= @album.title %> </h1>
<br>
<br>
<h3>By <%= @album.band.name %></h3>
<h4><%= @album.year %></h4>
<h4><%= @album.live ? "Live Recording" : "Studio Recording" %></h4>

<br>
<br>
<br>
<br>
<br>
<br>