<h2>Create your new Sub!</h2>

<br>
<br>
<br>
<form action="<%= subs_url %>" method="POST">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Title
    <input type="text" name="sub[title]" value=<%= @sub.title %>>
    </label>

    <label>Description
    <textarea name="sub[description]" cols="30" rows="10"> describe your sub here </textarea>
    </label>

    <input type="submit" value="Create Sub">

</form>