/* PHASE 3: Layout */
.content {
    width: 900px;
    background-color: white;
    min-height: 200px;
    margin: auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
}

.content-sidebar {
    min-height: 200px;
    width: 211.53px;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.content-main {
    min-height: 200px;
    width: 660px;
    padding: 20px;
}