<h1>Welcome Back *^ㅅ^*</h1>

<br>
<br>

<form action="<%= session_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <br>
    <br>
        <label>Username: 
        <input type="text" name="user[username]">
        </label>
    <br>
        <label>Password: 
        <input type="password" name="user[password]">
        </label>
    <br>
    <br>
        <input type="submit" value="Log In">
    <br>
</form>